<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="file" xsi:type="File"
          layout="${longdate} ${logger} ${message}"
          fileName="${basedir}/logs/${shortdate}_CoreDiploScore.txt"
          keepFileOpen="false"
          encoding="iso-8859-2" />

  </targets>

  <rules>
       <logger name="*" minlevel="Warn" writeTo="file" />
  </rules>
</nlog>